* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display: grid;
    background: linear-gradient(45deg,#0000 calc(25%/3), #7611bf 0 calc(50%/3),
      #0000 0 calc(250%/3), #7611bf 0 calc(275%/3),
      #0000 0),linear-gradient( 45deg,#7611bf calc(25%/3), #0000 0 calc(50%/3),
      #7611bf 0 25%, #0000 0 75%,
      #7611bf 0 calc(250%/3), #0000 0 calc(275%/3),
      #7611bf 0),
      linear-gradient(-45deg,#0000 calc(25%/3), #7611bf 0 calc(50%/3),
      #0000 0 calc(250%/3), #7611bf 0 calc(275%/3),
      #0000 0),linear-gradient(-45deg,#7611bf calc(25%/3), #0000 0 calc(50%/3),
      #7611bf 0 25%, #0000 0 75%,
      #7611bf 0 calc(250%/3), #0000 0 calc(275%/3),
      #7611bf 0)
      #6a0dad;
    background-size: 64px 64px;
    background-position: 0 0, 32px  32px;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 100vh;
}
main {
    grid-area: 2 / 2 / 2 / 2;
}
header {
    grid-area: 1 / 2 / 1 / 2;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    color: #f1f4f8;
    background: #6A0DAD;
    line-height: 50px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 900;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    font-style: italic;
    background: white;
    color: #6A0DAD;
}
p {
    font-weight: 300;
    text-align: justify;
}
.corposite {
    background: #f1f4f8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18% 38% 20% 25%;
}
.post1 {
    padding: 20px;
    grid-area: 1 / 1 / 1 / 4;
}
#espaco {
    grid-area: 1 / 3 / 1 / 4;
}
.post2 {
    padding: 20px;
    grid-area: 2 / 1 / 2 / 3;
}
.imgpost2 {
    margin-top: 28px;
    margin-right: 12px;
    grid-area: 2 / 3 / 2 / 3;
    border: 3px solid #6A0DAD;
}
.post3 {
    padding: 12px;
    padding-left: 0px;
    grid-area: 3 / 2 / 4 / 4;
}
.imgpost3 {
    margin: 22px;
    grid-area: 3 / 1 / 3 / 1;
    border: 3px solid #6A0DAD;
}
@media (max-width: 720px) {
    nav {
        flex-direction: row;
        text-align: center;
    }
    nav ul {
        flex-direction: row;
        gap: 10px;
    }
    .corposite {
        display: flex;
        flex-direction: column;
    }
    .post2 {
        margin: 5px 5px 5px 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .imgpost2 {
        padding-top: 0;
        margin-top: 0;
        margin: 0 auto;
    }
    .post3 {
        margin: 5px 25px 5px 25px;
    }
    .imgpost3 {
        margin: 0 auto;
    }
}